<router-outlet></router-outlet>
<footer class=" footer">

    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          Forgot Password?
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://localhost:4200">
          About us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://localhost:4200"> Contact us </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ today | date: "yyyy" }}
      <i class=" tim-icons icon-heart-2"> </i>
      <a href="https://www.creative-tim.com?ref=bda-auth-layout-footer" target="_blank"> </a>

    </div>

</footer>

