<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://localhost:4200">
          Covid19 Case Reporting Panel
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="/">
          About Us
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} Ethio Covid19 Case Reporting and FollowUp Development Team
    </div>
  </div>
</footer>
